html {
  font-family: Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
}

.demo {
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px 100px;
  position: relative;
  overflow: hidden;
}

h1 {
  font-size: 50px;
  margin: 80px 0;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 100px 0 50px;
}

.swipeRoot {
  width: 100%;
  margin: 0 auto;
}

.swipeableRoot {
  width: 100%;
  /* overflow: hidden; */
  position: relative;
}

.swipeableRoot::before {
  position: absolute;
  z-index: 10;
  content: '';
  left: -30px;
  top: -30px;
  right: -30px;
  bottom: -30px;
  border: 30px solid rgba(50, 50, 0, 0.3);
}

.swipeable {
  position: relative;
  width: 600%;
  height: 300px;
  background-image: linear-gradient(to right, #0fc, #0cf);
  display: flex;
}

.swipeable div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
  font-weight: bold;
}

.progress {
  position: absolute;
  z-index: 10;
  top: 15px;
  right: 15px;
  height: 15px;
  background: #ff0;
}

.dots {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10px;
  display: flex;
}

.dot {
  position: relative;
  width: 22px;
  height: 22px;
}
.dot::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.3;
}

.dot-active {
  position: absolute;
  top: 0;
}
.dot-active::before {
  z-index: 1;
  opacity: 1;
  background-color: #ff0;
}

.prev,
.next {
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.userSwipeClass {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.routesDemo {
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
}

.pages {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.pages menu {
  z-index: 10;
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.pages menu a {
  margin: 10px 0;
  color: #ffffff;
}

.pagesShaft {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  width: 100%;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-weight: bold;

  color: #ffffff;
}

.page:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu {
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  right: 0;
  top: 0;
  margin: 0;
}

.menu a {
  color: #000000;
  margin: 0 5px;
}
